adal
antlr4-python3-runtime
applicationinsights
argcomplete
asn1crypto
azure-batch
azure-cli
azure-cli-acr
azure-cli-acs
azure-cli-advisor
azure-cli-ams
azure-cli-appservice
azure-cli-backup
azure-cli-batch
azure-cli-batchai
azure-cli-billing
azure-cli-botservice
azure-cli-cdn
azure-cli-cloud
azure-cli-cognitiveservices
azure-cli-command-modules-nspkg
azure-cli-configure
azure-cli-consumption
azure-cli-container
azure-cli-core
azure-cli-cosmosdb
azure-cli-dla
azure-cli-dls
azure-cli-dms
azure-cli-eventgrid
azure-cli-eventhubs
azure-cli-extension
azure-cli-feedback
azure-cli-find
azure-cli-hdinsight
azure-cli-interactive
azure-cli-iot
azure-cli-iotcentral
azure-cli-keyvault
azure-cli-kusto
azure-cli-lab
azure-cli-maps
azure-cli-monitor
azure-cli-network
azure-cli-nspkg
azure-cli-policyinsights
azure-cli-privatedns
azure-cli-profile
azure-cli-rdbms
azure-cli-redis
azure-cli-relay
azure-cli-reservations
azure-cli-resource
azure-cli-role
azure-cli-search
azure-cli-security
azure-cli-servicebus
azure-cli-servicefabric
azure-cli-signalr
azure-cli-sql
azure-cli-sqlvm
azure-cli-storage
azure-cli-telemetry
azure-cli-vm
azure-common
azure-datalake-store
azure-functions-devops-build
azure-graphrbac
azure-keyvault
azure-mgmt-advisor
azure-mgmt-applicationinsights
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-batchai
azure-mgmt-billing
azure-mgmt-botservice
azure-mgmt-cdn
azure-mgmt-cognitiveservices
azure-mgmt-compute
azure-mgmt-consumption
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-cosmosdb
azure-mgmt-datalake-analytics
azure-mgmt-datalake-nspkg
azure-mgmt-datalake-store
azure-mgmt-datamigration
azure-mgmt-devtestlabs
azure-mgmt-dns
azure-mgmt-eventgrid
azure-mgmt-eventhub
azure-mgmt-hdinsight
azure-mgmt-iotcentral
azure-mgmt-iothub
azure-mgmt-iothubprovisioningservices
azure-mgmt-keyvault
azure-mgmt-kusto
azure-mgmt-loganalytics
azure-mgmt-managementgroups
azure-mgmt-maps
azure-mgmt-marketplaceordering
azure-mgmt-media
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-policyinsights
azure-mgmt-privatedns
azure-mgmt-rdbms
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-redis
azure-mgmt-relay
azure-mgmt-reservations
azure-mgmt-resource
azure-mgmt-search
azure-mgmt-security
azure-mgmt-servicebus
azure-mgmt-servicefabric
azure-mgmt-signalr
azure-mgmt-sql
azure-mgmt-sqlvirtualmachine
azure-mgmt-storage
azure-mgmt-trafficmanager
azure-mgmt-web
azure-multiapi-storage
azure-nspkg
azure-storage
azure-storage-blob
azure-storage-common
azure-storage-nspkg
bcrypt
certifi
cffi
chardet
collections2
colorama
cryptography
fabric
humanfriendly
idna
invoke
ipaddress
isodate
Jinja2
jmespath
knack
MarkupSafe
mock
msrest
msrestazure
oauthlib
pan-python
pandevice
paramiko
pbr
portalocker
prompt-toolkit
psutil
pyasn1
pycparser
pydocumentdb
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyperclip
python-dateutil
python-terraform
pytz
PyYAML
requests
requests-oauthlib
scp
six
sshtunnel
tabulate
urllib3
vsts
vsts-cd-manager
wcwidth
websocket-client
xmltodict
